# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
|--------------------|
|RStudio|
|Jupyter Notebook|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [4]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60.
mins = 200
hrs = mins/60
print(f"{mins} minutes = {hrs} hours")

200 minutes = 3.3333333333333335 hours

**Objectives:**
- Create a Jupyter Notebook
- Some of the commonly used libraries used by Data Scientists
- a few examples of evaluating arithmetic expressions in Python

### Author:
Ali Shams